<div class="container-fluid" style="padding: 0px; background-color: #303030">
<div class="row vertical-align" style=" width: 100%; margin: 0px; padding: 25px; background-color: black; color: white">
  <div class="col-2">
    <h1 (click)="goBrowse()" style="color: #E50914; font-weight: bold; cursor: pointer">MyFlix</h1>
  </div>
  <div class="col-1" style="vertical-align: middle; text-align: center">
    <p style="cursor: pointer" (click)="goBrowse()">Home</p>
  </div>
  <div class="col-1">
    <p style="cursor: pointer" (click)="listBtn()">MyList</p>
  </div>
  <div class="col-4" style=" text-align: center">
    <div class="input-group mb-3" style="border: black solid 4px">
      <div class="input-group-prepend">
        <span (click)="searchBtn()" style="cursor: pointer; color: white; background-color: black" class="input-group-text" id="basic-addon"><i class="fas fa-search"></i></span>
      </div>
      <input type="text" class="form-control" placeholder="Movie name" name="search" aria-label="search" aria-describedby="basic-addon" [(ngModel)]="search">
    </div>
  </div>
  <div (click)="uploadBtn()" class="col-1" style="cursor: pointer; color: white; font-size: 25px; text-align: center; margin-bottom: 18px" *ngIf="manager">
    <i class="fas fa-upload"></i>
  </div>
  <div class="col-2" style=" text-align: center">
    <p style="cursor: pointer" (click)="profileBtn()"><i class="fas fa-user"></i>   Profile</p>
  </div>
  <div class="col-1" style="text-align: center; margin-bottom: 18px">
    <div style="cursor: pointer;" class="btn btn-danger" (click)="signOut()">Sign out</div>
  </div>
</div>
  <div class="row" *ngIf="isSearch">
    <div class="col-1" style="background-color: red"></div>
    <div class="col-11" style="color: white;">
         <div *ngFor="let search of SearchRES">
           <div style="cursor: pointer;" (click)="searchShow(search)">{{search.MovieName}}</div>
         </div>
    </div>
  </div>
  <div class="row" *ngIf="isMyList">
    <div class="col-12" style="color: white; text-align: center">
      List is Working
    </div>
  </div>
  <div class="row" *ngIf="isUpload">
    <div class="col-12" style="color: white; text-align: center">
      Upload is Working
    </div>
  </div>
  <div class="row" *ngIf="isProfile" style="height: 400px">
    <div class="col-1" style="background-color: red"></div>
    <div class="col-11" style="color: white; margin-top: 70px; font-size: 25px">
      <div> Name: {{Fname + ' ' + Lname}}</div>
      <div>Email: {{Email}}</div>
      <div>Status: {{Status}}</div>
    </div>
  </div>
  <div class="a">
    <div class="b">
      <div class="row">
        <div class="col-6">{{MovieName}}</div>
        <div class="col-6"></div>
        <div class="col-6" style="font-size: 15px; text-align: justify">{{MovieDescription}}</div>
        <div class="col-6"></div>
        <div class="col-6" style="font-size: 15px">{{'Director: ' + MovieDirector}}</div>
        <div class="col-6"></div>
        <div class="col-6" style="font-size: 15px">{{'Cast: ' + MovieStarring}}</div>
        <div class="col-6"></div>
        <div class="col-6" style="font-size: 15px">{{'Box Office: ' + MovieBoxOffice}}</div>
        <div class="col-6"></div>
        <div class="col-6" style="display: inline-block">
          <div  *ngIf="mute" (click)="videoMute(myVideo)">
            <i style="cursor: pointer" class="fas fa-volume-up"></i>
          </div>
          <div *ngIf="unmute" (click)="videoMute(myVideo)">
            <i style="cursor: pointer"  class="fas fa-volume-mute"></i>
          </div>
        </div>
        <div class="col-6"></div>
        <div class="col-6">
          <div (click)="goWatch()" class="btn btn-danger"><i class="fas fa-play-circle"></i>  Play</div>
        </div>
        <div class="col-6"></div>
      </div>
    </div>
      <div class="c">
        <video
          width="100%"
          height="100%"
          autoplay
          loop
          [muted]="false" #myVideo>
          <source [src]="mainSurce" type="video/mp4">
        </video>
      </div>
  </div>
  <div style="color: white; padding-top: 25px; padding-left: 25px; font-size: 20px; font-weight: bold">Recommended movies:</div>
  <div class="wrapper">
    <section id="section1">
      <a href="/browse#section2" class="arrow__btn">‹</a>
      <div style="cursor: pointer" class="item" (click)="videoStream(Recommended[0])">
        <img [src]="this.url + this.Recommended[0].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Recommended[1])">
        <img [src]="this.url + this.Recommended[1].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Recommended[2])">
        <img [src]="this.url + this.Recommended[2].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Recommended[3])">
        <img [src]="this.url + this.Recommended[3].MoviePoster"/>
      </div>
      <div class="item">
        <img src=""/>
      </div>
      <a href="/browse#section2" class="arrow__btn">›</a>
    </section>
    <section id="section2">
      <a href="/browse#section1" class="arrow__btn">‹</a>
      <div style="cursor: pointer" class="item" (click)="videoStream(Recommended[4])">
        <img [src]="this.url + this.Recommended[4].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Recommended[5])">
        <img [src]="this.url + this.Recommended[5].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Recommended[6])">
        <img [src]="this.url + this.Recommended[6].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Recommended[7])">
        <img [src]="this.url + this.Recommended[7].MoviePoster"/>
      </div>
      <a href="/browse#section1" class="arrow__btn">›</a>
    </section>
  </div>
  <div style="color: white; padding-top: 25px; padding-left: 25px; font-size: 20px; font-weight: bold">Action:</div>
  <div class="wrapper">
    <section id="section4">
      <a href="/browse#section6" class="arrow__btn">‹</a>
      <div style="cursor: pointer" class="item" (click)="videoStream(Action[0])">
        <img [src]="this.url + this.Action[0].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Action[1])">
        <img [src]="this.url + this.Action[1].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Action[2])">
        <img [src]="this.url + this.Action[2].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Action[3])">
        <img [src]="this.url + this.Action[3].MoviePoster"/>
      </div>
      <div class="item">
        <img src=""/>
      </div>
      <a href="/browse#section5" class="arrow__btn">›</a>
    </section>
    <section id="section5">
      <a href="/browse#section4" class="arrow__btn">‹</a>
      <div style="cursor: pointer" class="item" (click)="videoStream(Action[4])">
        <img [src]="this.url + this.Action[4].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Action[5])">
        <img [src]="this.url + this.Action[5].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Action[6])">
        <img [src]="this.url + this.Action[6].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Action[7])">
        <img [src]="this.url + this.Action[7].MoviePoster"/>
      </div>
      <a href="/browse#section6" class="arrow__btn">›</a>
    </section>
    <section id="section6">
      <a href="/browse#section5" class="arrow__btn">‹</a>
      <div style="cursor: pointer" class="item" (click)="videoStream(Action[8])">
        <img [src]="this.url + this.Action[9].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Action[9])">
        <img [src]="this.url + this.Action[10].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Action[10])">
        <img [src]="this.url + this.Action[11].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Action[11])">
        <img [src]="this.url + this.Action[4].MoviePoster"/>
      </div>
      <a href="/browse#section4" class="arrow__btn">›</a>
    </section>
  </div>
  <div style="color: white; padding-top: 25px; padding-left: 25px; font-size: 20px; font-weight: bold">Comedy:</div>
  <div class="wrapper">
    <section id="section7">
      <a href="/browse#section9" class="arrow__btn">‹</a>
      <div style="cursor: pointer" class="item" (click)="videoStream(Comidies[0])">
        <img [src]="this.url + this.Comidies[0].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Comidies[1])">
        <img [src]="this.url + this.Comidies[1].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Comidies[2])">
        <img [src]="this.url + this.Comidies[2].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Comidies[3])">
        <img [src]="this.url + this.Comidies[3].MoviePoster"/>
      </div>
      <a href="/browse#section8" class="arrow__btn">›</a>
    </section>
    <section id="section8">
      <a href="/browse#section7" class="arrow__btn">‹</a>
      <div style="cursor: pointer" class="item" (click)="videoStream(Comidies[4])">
        <img [src]="this.url + this.Comidies[4].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Comidies[5])">
        <img [src]="this.url + this.Comidies[5].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Comidies[6])">
        <img [src]="this.url + this.Comidies[6].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Comidies[7])">
        <img [src]="this.url + this.Comidies[7].MoviePoster"/>
      </div>
      <a href="/browse#section9" class="arrow__btn">›</a>
    </section>
    <section id="section9">
      <a href="/browse#section8" class="arrow__btn">‹</a>
      <div style="cursor: pointer" class="item" (click)="videoStream(Comidies[8])">
        <img [src]="this.url + this.Comidies[8].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Comidies[9])">
        <img [src]="this.url + this.Comidies[9].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Comidies[10])">
        <img [src]="this.url + this.Comidies[10].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Comidies[11])">
        <img [src]="this.url + this.Comidies[11].MoviePoster"/>
      </div>
      <a href="/browse#section7" class="arrow__btn">›</a>
    </section>
  </div>
  <div style="color: white; padding-top: 25px; padding-left: 25px; font-size: 20px; font-weight: bold">Anime:</div>
  <div class="wrapper">
    <section id="section10">
      <a href="/browse#section12" class="arrow__btn">‹</a>
      <div style="cursor: pointer" class="item" (click)="videoStream(Animi[0])">
        <img [src]="this.url + this.Animi[0].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Animi[1])">
        <img [src]="this.url + this.Animi[1].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Animi[2])">
        <img [src]="this.url + this.Animi[2].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Animi[3])">
        <img [src]="this.url + this.Animi[3].MoviePoster"/>
      </div>
      <a href="/browse#section11" class="arrow__btn">›</a>
    </section>
    <section id="section11">
      <a href="/browse#section10" class="arrow__btn">‹</a>
      <div style="cursor: pointer" class="item" (click)="videoStream(Animi[4])">
        <img [src]="this.url + this.Animi[4].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Animi[5])">
        <img [src]="this.url + this.Animi[5].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Animi[6])">
        <img [src]="this.url + this.Animi[6].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Animi[7])">
        <img [src]="this.url + this.Animi[7].MoviePoster"/>
      </div>
      <a href="/browse#section12" class="arrow__btn">›</a>
    </section>
    <section id="section12">
      <a href="/browse#section11" class="arrow__btn">‹</a>
      <div style="cursor: pointer" class="item" (click)="videoStream(Animi[8])">
        <img [src]="this.url + this.Animi[8].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Animi[9])">
        <img [src]="this.url + this.Animi[9].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Animi[10])">
        <img [src]="this.url + this.Animi[10].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Animi[11])">
        <img [src]="this.url + this.Animi[11].MoviePoster"/>
      </div>
      <a href="/browse#section10" class="arrow__btn">›</a>
    </section>
  </div>
  <div style="color: white; padding-top: 25px; padding-left: 25px; font-size: 20px; font-weight: bold">Crime:</div>
  <div class="wrapper">
    <section id="section13">
      <a href="/browse#section15" class="arrow__btn">‹</a>
      <div style="cursor: pointer" class="item" (click)="videoStream(Crime[0])">
        <img [src]="this.url + this.Crime[0].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Crime[1])">
        <img [src]="this.url + this.Crime[1].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Crime[2])">
        <img [src]="this.url + this.Crime[2].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Crime[3])">
        <img [src]="this.url + this.Crime[3].MoviePoster"/>
      </div>
      <a href="/browse#section14" class="arrow__btn">›</a>
    </section>
    <section id="section14">
      <a href="/browse#section13" class="arrow__btn">‹</a>
      <div style="cursor: pointer" class="item" (click)="videoStream(Crime[4])">
        <img [src]="this.url + this.Crime[4].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Crime[5])">
        <img [src]="this.url + this.Crime[5].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Crime[6])">
        <img [src]="this.url + this.Crime[6].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Crime[7])">
        <img [src]="this.url + this.Crime[7].MoviePoster"/>
      </div>
      <a href="/browse#section15" class="arrow__btn">›</a>
    </section>
    <section id="section15">
      <a href="/browse#section14" class="arrow__btn">‹</a>
      <div style="cursor: pointer" class="item" (click)="videoStream(Crime[8])">
        <img [src]="this.url + this.Crime[8].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Crime[9])">
        <img [src]="this.url + this.Crime[9].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Crime[10])">
        <img [src]="this.url + this.Crime[10].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Crime[11])">
        <img [src]="this.url + this.Crime[11].MoviePoster"/>
      </div>
      <a href="/browse#section13" class="arrow__btn">›</a>
    </section>
  </div>
  <div style="color: white; padding-top: 25px; padding-left: 25px; font-size: 20px; font-weight: bold">Drama:</div>
  <div class="wrapper">
    <section id="section16">
      <a href="/browse#section18" class="arrow__btn">‹</a>
      <div style="cursor: pointer" class="item" (click)="videoStream(Dramas[0])">
        <img [src]="this.url + this.Dramas[0].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Dramas[1])">
        <img [src]="this.url + this.Dramas[1].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Dramas[2])">
        <img [src]="this.url + this.Dramas[2].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Dramas[3])">
        <img [src]="this.url + this.Dramas[3].MoviePoster"/>
      </div>
      <a href="/browse#section17" class="arrow__btn">›</a>
    </section>
    <section id="section17">
      <a href="/browse#section16" class="arrow__btn">‹</a>
      <div style="cursor: pointer" class="item" (click)="videoStream(Dramas[4])">
        <img [src]="this.url + this.Dramas[4].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Dramas[5])">
        <img [src]="this.url + this.Dramas[5].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Dramas[6])">
        <img [src]="this.url + this.Dramas[6].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Dramas[7])">
        <img [src]="this.url + this.Dramas[7].MoviePoster"/>
      </div>
      <a href="/browse#section18" class="arrow__btn">›</a>
    </section>
    <section id="section18">
      <a href="/browse#section17" class="arrow__btn">‹</a>
      <div style="cursor: pointer" class="item" (click)="videoStream(Dramas[8])">
        <img [src]="this.url + this.Dramas[8].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Dramas[9])">
        <img [src]="this.url + this.Dramas[9].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Dramas[10])">
        <img [src]="this.url + this.Dramas[10].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Dramas[11])">
        <img [src]="this.url + this.Dramas[11].MoviePoster"/>
      </div>
      <a href="/browse#section16" class="arrow__btn">›</a>
    </section>
  </div>
  <div style="color: white; padding-top: 25px; padding-left: 25px; font-size: 20px; font-weight: bold">Horror:</div>
  <div class="wrapper">
    <section id="section19">
      <a href="/browse#section21" class="arrow__btn">‹</a>
      <div style="cursor: pointer" class="item" (click)="videoStream(Horror[0])">
        <img [src]="this.url + this.Horror[0].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Horror[1])">
        <img [src]="this.url + this.Horror[1].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Horror[2])">
        <img [src]="this.url + this.Horror[2].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Horror[3])">
        <img [src]="this.url + this.Horror[3].MoviePoster"/>
      </div>
      <a href="/browse#section17" class="arrow__btn">›</a>
    </section>
    <section id="section20">
      <a href="/browse#section19" class="arrow__btn">‹</a>
      <div style="cursor: pointer" class="item" (click)="videoStream(Horror[4])">
        <img [src]="this.url + this.Horror[4].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Horror[5])">
        <img [src]="this.url + this.Horror[5].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Horror[6])">
        <img [src]="this.url + this.Horror[6].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Horror[7])">
        <img [src]="this.url + this.Horror[7].MoviePoster"/>
      </div>
      <a href="/browse#section21" class="arrow__btn">›</a>
    </section>
    <section id="section21">
      <a href="/browse#section20" class="arrow__btn">‹</a>
      <div style="cursor: pointer" class="item" (click)="videoStream(Horror[8])">
        <img [src]="this.url + this.Horror[8].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Horror[9])">
        <img [src]="this.url + this.Horror[9].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Horror[10])">
        <img [src]="this.url + this.Horror[10].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Horror[11])">
        <img [src]="this.url + this.Horror[11].MoviePoster"/>
      </div>
      <a href="/browse#section19" class="arrow__btn">›</a>
    </section>
  </div>
  <div style="color: white; padding-top: 25px; padding-left: 25px; font-size: 20px; font-weight: bold">Sci-Fi:</div>
  <div class="wrapper">
    <section id="section25">
      <a href="/browse#section27" class="arrow__btn">‹</a>
      <div style="cursor: pointer" class="item" (click)="videoStream(SciFi[0])">
        <img [src]="this.url + this.SciFi[0].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(SciFi[1])">
        <img [src]="this.url + this.SciFi[1].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(SciFi[2])">
        <img [src]="this.url + this.SciFi[2].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(SciFi[3])">
        <img [src]="this.url + this.SciFi[3].MoviePoster"/>
      </div>
      <div class="item">
        <img src=""/>
      </div>
      <a href="/browse#section26" class="arrow__btn">›</a>
    </section>
    <section id="section26">
      <a href="/browse#section25" class="arrow__btn">‹</a>
      <div style="cursor: pointer" class="item" (click)="videoStream(SciFi[4])">
        <img [src]="this.url + this.SciFi[4].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(SciFi[5])">
        <img [src]="this.url + this.SciFi[5].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(SciFi[6])">
        <img [src]="this.url + this.SciFi[6].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(SciFi[7])">
        <img [src]="this.url + this.SciFi[7].MoviePoster"/>
      </div>
      <a href="/browse#section27" class="arrow__btn">›</a>
    </section>
    <section id="section27">
      <a href="/browse#section26" class="arrow__btn">‹</a>
      <div style="cursor: pointer" class="item" (click)="videoStream(SciFi[8])">
        <img [src]="this.url + this.SciFi[8].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(SciFi[9])">
        <img [src]="this.url + this.SciFi[9].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(SciFi[10])">
        <img [src]="this.url + this.SciFi[10].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(SciFi[11])">
        <img [src]="this.url + this.SciFi[11].MoviePoster"/>
      </div>
      <a href="/browse#section25" class="arrow__btn">›</a>
    </section>
  </div>
  <div style="color: white; padding-top: 25px; padding-left: 25px; font-size: 20px; font-weight: bold">Romance:</div>
  <div class="wrapper">
    <section id="section22">
      <a href="/browse#section24" class="arrow__btn">‹</a>
      <div style="cursor: pointer" class="item" (click)="videoStream(Romance[0])">
        <img [src]="this.url + this.Romance[0].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Romance[1])">
        <img [src]="this.url + this.Romance[1].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Romance[2])">
        <img [src]="this.url + this.Romance[2].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Romance[3])">
        <img [src]="this.url + this.Romance[3].MoviePoster"/>
      </div>
      <a href="/browse#section23" class="arrow__btn">›</a>
    </section>
    <section id="section23">
      <a href="/browse#section22" class="arrow__btn">‹</a>
      <div style="cursor: pointer" class="item" (click)="videoStream(Romance[4])">
        <img [src]="this.url + this.Romance[4].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Romance[5])">
        <img [src]="this.url + this.Romance[5].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Romance[6])">
        <img [src]="this.url + this.Romance[6].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Romance[7])">
        <img [src]="this.url + this.Romance[7].MoviePoster"/>
      </div>
      <a href="/browse#section24" class="arrow__btn">›</a>
    </section>
    <section id="section24">
      <a href="/browse#section23" class="arrow__btn">‹</a>
      <div style="cursor: pointer" class="item" (click)="videoStream(Romance[8])">
        <img [src]="this.url + this.Romance[8].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Romance[9])">
        <img [src]="this.url + this.Romance[9].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Romance[10])">
        <img [src]="this.url + this.Romance[10].MoviePoster"/>
      </div>
      <div style="cursor: pointer" class="item" (click)="videoStream(Romance[11])">
        <img [src]="this.url + this.Romance[11].MoviePoster"/>
      </div>
      <a href="/browse#section22" class="arrow__btn">›</a>
    </section>
  </div>
</div>
