<div class="container-fluid" style="padding: 0px" *ngIf="signup">
  <div class="row vertical-align" style=" width: 100%; margin: 0px; padding: 25px">
    <div class="col-6"><h1 (click)="goMain()" style="color: #E50914; font-weight: bold; cursor: pointer">MyFlix</h1></div>
  </div>
  <div style="border-bottom-style: solid; border-color: grey; border-width: 1px;"></div>
  <div class="row" style="padding-top: 100px">
    <div class="col-12" style="text-align: center">
      <img style="display: inline" src="../assets/comp.PNG" class="img-responsive" alt="pc gif">
    </div>
  </div>
  <div class="row" *ngIf="step1">
    <div class="col-12" style="text-align: center">
      <span>STEP 1 OF 3</span><br>
      <span>Finish setting up your account</span><br>
      <span>MyFlix is personalised for you. Create</span><br>
      <span>a password to watch MyFlix on any</span><br>
      <span>device at any time.</span><br><br>
      <!--f1to2-->
      <span (click)="f1to2()" class="btn btn-danger" style="padding: 10px 100px; margin-bottom: 100px">CONTINUE</span>
    </div>
  </div>
  <div class="row" *ngIf="step2">
    <div class="col-12" style="text-align: center">
      <span>STEP 2 OF 3</span><br>
      <span>Finish sign-up to start your membership.</span><br>
      <span>Just two more steps and you're finished!</span><br>
      <span>We hate paperwork, too.</span><br>
      <span>Create your account.</span><br><br>
      <form style="padding: 0px 500px">
        <div class="form-group">
          <input type="email" class="form-control" id="InputEmail1" placeholder="Email" name="email" [(ngModel)]="Email" disabled>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="InputPassword1" placeholder="Password" name="pass" [(ngModel)]="Pass">
          <span style="color: red" *ngIf="PassChick">* Password must be between 6 and 12</span>
        </div>
      </form>
      <span (click)="f2to3()" class="btn btn-danger" style="padding: 10px 100px; margin-bottom: 100px">CONTINUE</span>
    </div>
  </div>
  <div class="row" *ngIf="step3">
    <div class="col-12" style="text-align: center; padding-bottom: 200px">
      <span>STEP 3 OF 3</span><br>
      <span>Set up your Credit or Debit Card.</span><br><br>
      <div class="row">
        <div class="col-12" style="text-align: center">
          <img style="display: inline" src="../assets/credit.PNG" class="img-responsive" alt="credit">
        </div>
      </div><br><br>
      <form style="padding: 0px 500px">
        <div class="form-group">
          <input  type="text" class="form-control"  name="Fname" placeholder="First Name" pattern="^[A-Za-z \u0600-\u06FF]+$" [(ngModel)]="Fname" required>
          <span *ngIf="FnameCheck" style="color: red">{{FnameCheckText}}</span>
        </div>
        <div class="form-group">
          <input  type="text" class="form-control"  name="Lname" placeholder="Last Name" pattern="^[A-Za-z \u0600-\u06FF]+$" [(ngModel)]="Lname" required>
          <span *ngIf="LnameCheck" style="color: red">{{LnameCheckText}}</span>
        </div>
        <div class="form-group">
          <input type="number" class="form-control" name="CardNo" placeholder="Card Number" [(ngModel)]="CardNo" required>
          <span *ngIf="CardNoCheck" style="color: red">{{CardNoCheckText}}</span>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-6">
              <select class="form-control" name="DateMonth" [(ngModel)]="DateMonth" required>
                <option *ngFor="let month of months">{{month}}</option>
              </select>
              <span *ngIf="DateCheckMonth" style="color: red">{{DateCheckMonthText}}</span>
            </div>
            <div class="col-6">
              <select class="form-control" name="DateYear" [(ngModel)]="DateYear" required>
                <option *ngFor="let year of years">{{year}}</option>
              </select>
              <span *ngIf="DateCheckYear" style="color: red">{{DateCheckYearText}}</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="CVV" placeholder="CVV" [(ngModel)]="CVV">
          <span *ngIf="CVVCheck" style="color: red">{{CVVCheckText}}</span>
        </div>
      </form>
      <span (click)="f3to4()" class="btn btn-danger" style="padding: 10px 100px">START PAID MEMBERSHIP</span>
    </div>
  </div>
  <div class="row" *ngIf="step4">
    <div class="col-12" style="text-align: center">
      <h1>Welcome to MyFlix</h1><br>
      <span>your myFlix Membership has begun at £11.99 a month</span><br>
      <span>you can cancel online anytime</span><br><br>
      <h3>Your Account Details:</h3>
      <div>
        <p>Name: {{Fname + ' ' + Lname}}</p>
        <p>Email: {{Email}}</p>
        <p>Payment Information: {{'*****' + CardNo.toString().charAt(12) + CardNo.toString().charAt(13) + CardNo.toString().charAt(14) + CardNo.toString().charAt(15)}}</p>
        <p class="alert alert-success" style="margin-right: 400px; margin-left: 400px">Confirmed</p>
        <span (click)="f4to5()" class="btn btn-danger" style="padding: 10px 100px; margin-bottom: 100px;">CONTINUE</span>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="step5">
    <div class="col-12" style="text-align: center">
      <h2><i style="color: green" class="far fa-check-circle"></i>{{Fname + ' '+ Lname}}, choose Genres and Movies</h2>
      <span>it will help us find movies you like</span><br>
      <br>
    </div>
    <div class="col-2"></div>
    <div class="col-10" style="margin-top: 40px">
      <h3>Genres:</h3>
    </div>
    <div class="col-2"></div>
    <div class="col-8">
      <ul>
        <li style="text-align: center"><input type="checkbox" id="cb1" [(ngModel)]="isAction"/>
          <label for="cb1"><img src="../assets/genres/Action.ico" /></label>
          <span style="font-weight: bold">{{genres[0].Genre}}</span>
        </li>
        <li style="text-align: center"><input type="checkbox" id="cb2" [(ngModel)]="isAnimation"/>
          <label for="cb2"><img src="../assets/genres/Animation.ico" /></label>
          <span style="font-weight: bold">{{genres[1].Genre}}</span>
        </li>
        <li style="text-align: center"><input type="checkbox" id="cb3" [(ngModel)]="isComedy"/>
          <label for="cb3"><img src="../assets/genres/Comedy.ico" /></label>
          <span style="font-weight: bold">{{genres[2].Genre}}</span>
        </li>
        <li style="text-align: center"><input type="checkbox" id="cb4" [(ngModel)]="isCrime"/>
          <label for="cb4"><img src="../assets/genres/Crime.ico" /></label>
          <span style="font-weight: bold">{{genres[3].Genre}}</span>
        </li>
      </ul>
    </div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-8">
      <ul>
        <li style="text-align: center"><input type="checkbox" id="cb5" [(ngModel)]="isDrama"/>
          <label for="cb5"><img src="../assets/genres/Drama.ico" /></label>
          <span style="font-weight: bold">{{genres[4].Genre}}</span>
        </li>
        <li style="text-align: center"><input type="checkbox" id="cb6" [(ngModel)]="isHorror"/>
          <label for="cb6"><img src="../assets/genres/Horror.ico" /></label>
          <span style="font-weight: bold">{{genres[5].Genre}}</span>
        </li>
        <li style="text-align: center"><input type="checkbox" id="cb7" [(ngModel)]="isRomance"/>
          <label for="cb7"><img src="../assets/genres/Romance.ico" /></label>
          <span style="font-weight: bold">{{genres[6].Genre}}</span>
        </li>
        <li style="text-align: center"><input type="checkbox" id="cb8" [(ngModel)]="isSciFi"/>
          <label for="cb8"><img src="../assets/genres/SciFi.ico" /></label>
          <span style="font-weight: bold">{{genres[7].Genre}}</span>
        </li>
      </ul>
    </div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-10" style="margin-top: 40px">
      <h3>Movies:</h3>
    </div>
    <div class="col-2"></div>
    <div class="col-8">
      <ul>
        <li style="text-align: center"><input type="checkbox" id="mv1" [(ngModel)]="isMv1"/>
          <label for="mv1"><img src="../assets/movies/abominable.jpg" /></label>
          <span style="font-weight: bold">{{movieIDs[0].movieName}}</span>
        </li>
        <li style="text-align: center"><input type="checkbox" id="mv2" [(ngModel)]="isMv2"/>
          <label for="mv2"><img src="../assets/movies/longShot.png" /></label>
          <span style="font-weight: bold">{{movieIDs[1].movieName}}</span>
        </li>
        <li style="text-align: center"><input type="checkbox" id="mv3" [(ngModel)]="isMv3"/>
          <label for="mv3"><img src="../assets/movies/jocker.jpg" /></label>
          <span style="font-weight: bold">{{movieIDs[2].movieName}}</span>
        </li>
        <li style="text-align: center"><input type="checkbox" id="mv4" [(ngModel)]="isMv4"/>
          <label for="mv4"><img src="../assets/movies/fast.jpg" /></label>
          <span style="font-weight: bold">{{movieIDs[3].movieName}}</span>
        </li>
      </ul>
    </div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-8">
      <ul>
        <li style="text-align: center"><input type="checkbox" id="mv5" [(ngModel)]="isMv5"/>
          <label for="mv5"><img src="../assets/movies/domino.jpg" /></label>
          <span style="font-weight: bold">{{movieIDs[4].movieName}}</span>
        </li>
        <li style="text-align: center"><input type="checkbox" id="mv6" [(ngModel)]="isMv6"/>
          <label for="mv6"><img src="../assets/movies/mid.jpg" /></label>
          <span style="font-weight: bold">{{movieIDs[5].movieName}}</span>
        </li>
        <li style="text-align: center"><input type="checkbox" id="mv7" [(ngModel)]="isMv7"/>
          <label for="mv7"><img src="../assets/movies/us.jpg" /></label>
          <span style="font-weight: bold">{{movieIDs[6].movieName}}</span>
        </li>
        <li style="text-align: center"><input type="checkbox" id="mv8" [(ngModel)]="isMv8"/>
          <label for="mv8"><img src="../assets/movies/DrSleep.jpg" /></label>
          <span style="font-weight: bold">{{movieIDs[7].movieName}}</span>
        </li>
      </ul>
    </div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-8">
      <ul>
        <li style="text-align: center"><input type="checkbox" id="mv9" [(ngModel)]="isMv9"/>
          <label for="mv9"><img src="../assets/movies/brightburn.jpg" /></label>
          <span style="font-weight: bold">{{movieIDs[8].movieName}}</span>
        </li>
        <li style="text-align: center"><input type="checkbox" id="mv10" [(ngModel)]="isMv10"/>
          <label for="mv10"><img src="../assets/movies/alladin.jpg" /></label>
          <span style="font-weight: bold">{{movieIDs[9].movieName}}</span>
        </li>
        <li style="text-align: center"><input type="checkbox" id="mv11" [(ngModel)]="isMv11"/>
          <label for="mv11"><img src="../assets/movies/dark.jpg" /></label>
          <span style="font-weight: bold">{{movieIDs[10].movieName}}</span>
        </li>
        <li style="text-align: center"><input type="checkbox" id="mv12" [(ngModel)]="isMv12"/>
          <label for="mv12"><img src="../assets/movies/glass_.jpg" /></label>
          <span style="font-weight: bold">{{movieIDs[11].movieName}}</span>
        </li>
      </ul>
    </div>
    <div class="col-2"></div>
    <div class="col-1"></div>
    <div class="col-9" style="text-align: center; margin-top: 75px">
      <span (click)="final()" class="btn btn-danger" style="padding: 10px 100px; margin-bottom: 100px;">CONTINUE</span>
    </div>
    <div class="col-2"></div>
    <div class="col-12" *ngIf="error" style="text-align: center">
      <span class="alert alert-danger">Internal Error</span>
    </div>
  </div>
  <div class="row" *ngIf="step6">
    <div class="col-12" style="text-align: center">
      <h3>{{Fname + ' ' + Lname + ' '}}Your Account is ready, you can <span style="color: red; cursor: pointer" (click)="goLogin()">Login here</span></h3>
    </div>
  </div>
</div>
