<div class="container-fluid" style="padding: 0px" *ngIf="signup">
  <div class="row vertical-align" style=" width: 100%; margin: 0px; padding: 25px">
    <div class="col-6"><h1 (click)="goMain()" style="color: #E50914; font-weight: bold; cursor: pointer">MyFlix</h1></div>
    <div class="col-6">
      <div style="float: right; font-size: large; color: black; font-weight: bold">Sign in</div>
    </div>
  </div>
  <div style="border-bottom-style: solid; border-color: grey; border-width: 1px;"></div>
  <div class="row" style="padding-top: 100px">
    <div class="col-12" style="text-align: center">
      <img style="display: inline" src="../assets/comp.PNG" class="img-responsive" alt="pc gif">
    </div>
  </div>
  <div class="row" *ngIf="step1">
    <div class="col-12" style="text-align: center">
      <span>STEP 1 OF 3</span><br>
      <span>Finish setting up your account</span><br>
      <span>MyFlix is personalised for you. Create</span><br>
      <span>a password to watch MyFlix on any</span><br>
      <span>device at any time.</span><br><br>
      <span (click)="f1to2()" class="btn btn-danger" style="padding: 10px 100px; margin-bottom: 100px">CONTINUE</span>
    </div>
  </div>
  <div class="row" *ngIf="step2">
    <div class="col-12" style="text-align: center">
      <span>STEP 2 OF 3</span><br>
      <span>Finish sign-up to start your membership.</span><br>
      <span>Just two more steps and you're finished!</span><br>
      <span>We hate paperwork, too.</span><br>
      <span>Create your account.</span><br><br>
      <form style="padding: 0px 500px">
        <div class="form-group">
          <input type="email" class="form-control" id="InputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="InputPassword1" placeholder="Password">
        </div>
      </form>
      <span (click)="f2to3()" class="btn btn-danger" style="padding: 10px 100px; margin-bottom: 100px">CONTINUE</span>
    </div>
  </div>
  <div class="row" *ngIf="step3">
    <div class="col-12" style="text-align: center; padding-bottom: 200px">
      <span>STEP 3 OF 3</span><br>
      <span>Set up your Credit or Debit Card.</span><br><br>
      <div class="row">
        <div class="col-12" style="text-align: center">
          <img style="display: inline" src="../assets/credit.PNG" class="img-responsive" alt="credit">
        </div>
      </div><br><br>
      <form style="padding: 0px 500px">
        <div class="form-group">
          <input  type="text" class="form-control" id="fname" name="fname" placeholder="First Name" pattern="^[A-Za-z \u0600-\u06FF]+$" required>
        </div>
        <div class="form-group">
          <input  type="text" class="form-control" id="lname" name="lname" placeholder="Last Name" pattern="^[A-Za-z \u0600-\u06FF]+$" required>
        </div>
        <div class="form-group">
          <input type="number" class="form-control" id="CardNo" name="CardNo" placeholder="Card Number" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="date" id="date-input" placeholder="Expiry Date (MM/YY)" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="CVV" placeholder="CVV">
        </div>
      </form>
      <span (click)="f3to4()" class="btn btn-danger" style="padding: 10px 100px">START PAID MEMBERSHIP</span>
    </div>
  </div>
  <div class="row" *ngIf="step4">
    <div class="col-12" style="text-align: center">
      <h1>Welcome to MyFlix</h1><br>
      <span>your myFlix Membership has begun at £11.99 a month</span><br>
      <span>you can cancel online anytime</span><br><br>
      <h3>Your Account Details:</h3>
      <div>
        <p>Name:</p>
        <p>Email:</p>
        <p>Payment Information:</p>
        <p class="alert alert-success" style="margin-right: 550px; margin-left: 550px">Confirmed</p>
        <span (click)="f4to5()" class="btn btn-danger" style="padding: 10px 100px; margin-bottom: 100px;">CONTINUE</span>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="step5">
    <div class="col-12" style="text-align: center">
      <h2><i style="color: green" class="far fa-check-circle"></i>UserName, choose Genres and Movies</h2>
      <span>it will help us find movies you like</span><br>
      <br>
      <h3>Genres:</h3>
      <form>
        <div class="form-check">
          <label class="form-check-label" for="action">
            Action:
          </label>
          <input class="form-check-input" type="checkbox" id="action">
        </div>
        <div class="form-check">
          <label class="form-check-label" for="Comedy">
            Comedy:
          </label>
          <input class="form-check-input" type="checkbox" id="Comedy">
        </div>
        <div class="form-check">
          <label class="form-check-label" for="Thriller">
            Thriller:
          </label>
          <input class="form-check-input" type="checkbox" id="Thriller">
        </div>
      </form>
      <h3>Movies:</h3>
      <div>Will See</div>
      <span (click)="f4to5()" class="btn btn-danger" style="padding: 10px 100px">CONTINUE</span>
    </div>
  </div>
</div>
