<div *ngIf="watch" style="margin: 0px; padding: 0px">
  <div class="cont" style="margin: 0px; padding: 0px; background-color: rgba(0, 0, 0, 0.75)">
    <div class="video-c"  id="videoFS" #videoFS>
      <video
        class="video"
        [src]="movieUrl"
        #videoPlayer></video>
      <div class="controls">
        <div class="orange-bar" style="cursor: pointer" #progress>
          <div class="orange-juice" #bar>
          </div>
        </div>
        <div class="buttons">
           <div class="myflix">MyFlix</div>
          <button class="play" (click)="togglplaypause(videoPlayer, buttonPlay, bar, progress)" #buttonPlay id="playID"></button>
          <button class="stop" (click)="togglplaystop(videoPlayer, buttonStop)" #buttonStop></button>
          <button class="Mute" (click)="togglplaymute(videoPlayer)" *ngIf="unmute">
            <i class="fas fa-volume-up"></i>
          </button>
          <button class="Mute" (click)="togglplaymute(videoPlayer)" *ngIf="mute">
            <i class="fas fa-volume-mute"></i>
          </button>
          <button class="Vol" (click)="togglVolUp(videoPlayer, volup)" #volup>
            <i class="far fa-plus-square"></i>
          </button>
          <button class="Vol" (click)="togglVolDown(videoPlayer, voldown)" #voldown>
            <i class="far fa-minus-square"></i>
          </button>
          <button class="Full" (click)="togglFullScreen()">
            <i class="fas fa-compress"></i>
          </button>
          <button  class="closeVideo" (click)="goBack()">
              <i class="far fa-times-circle"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

