@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.vertical-align {
  display: flex;
  align-items: center;
}

.top-head {
  height: 500px;
  margin: 0;
  background-image: url("../assets/myflix.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-size: 100% 100%;

}

.head-color {
  background-color: #303030;
  color: white;
  text-decoration: none;
}
